streamlit
langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.34
langchain-openai==0.0.5
langchain-groq==0.1.4
sentence-transformers
faiss-cpu
beautifulsoup4
requests
tiktoken
python-dotenv

